/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/Gabon_header_v2.jpg");
  --header-bg-color: ; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 2.5rem;
  --logo-width: 120px;
  --menu-top-bg-color: #000000;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Roboto", sans-serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #8e3d21;
  --darkest-color: #1b3d2f;
  --medium-color: #393846;
  --light-color: #738c6f;
  --bright-color: #b9d432;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
