/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("");
  --header-bg-color: #236192; /** Transparent color if adding header bg-image **/
  --header-font-color: #343A3B;  /** Original was #777 **/
  --brand-font-size: 1.5rem;
  --title-font-family: "Averia Serif Libre", serif;
  --logo-width: 350px;
  --menu-top-bg-color: #f9f8f4;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Averia Serif Libre", serif;
  --footer-bg-color: #f2f0e9;
  --heading-font-family: "Averia Serif Libre", serif;
  --link-color: #126c00;
  --darkest-color: #343A3B;
  --medium-color: #5a5a53;
  --light-color: #f2f0e9;
  --bright-color: #5bc0de;
  --danger-color: #b31b1b;
  --max-innertext-width: 1200px;
}
